<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      const person = "Jelly";
      const age = 5;
      const sentence = `${person} is ${age * 5} years old`;
      //   const template2 = ['<div class="greet">', "<p>Hello</p>", "<div>"].join(
      //     ""
      //   );
      const template = `
      <div class="greet">
        <p>Hello</p>
      <div>
            `.trim();

      console.log(template);
    </script>
  </body>
</html>
