body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 5rem;
}

span {
    display: inline-block;
    transition: 0.5s;
}

span:hover {
    transform: rotate(45deg) translateX(-20px);
}